@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Antonio:wght@300&display=swap');

section.header{
    background-image: url(/background-orange.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 120%;
    background-position-x: 10vw;
    background-attachment: scroll;
    padding: 30vh 30vw;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}
    
.container{
    display: flex;
    flex-direction: row;
}

.buttonStart{
    font-family: 'Antonio', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 22px;
    max-width: 8vw;
}

.textButton{
    color: white
}

.main{
    display: flex;
    flex-direction: column;
}

.a1{
    font-weight: 100;
    font-size: 40px;
    margin-top: 20px;
}

.a2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.text {
    font-size: 22px;
    max-width: 20vw;
}

.secondary{
    max-width: 100%;
}

.imagemCarro{
    margin-top: -2vh;
    max-width: 120%;
    max-height: 100%;
}

@media screen and (max-width: 1600px) {
    section.header{
        background-image: url(/background-orange.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 10vw;
        background-attachment: scroll;
        padding: 20vh 25vw;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
    }

    .container{
        display: flex;
        flex-direction: row;
    }
        
    .imagemCarro{
        max-width: 120%;
        max-height: 90%;
    }

    .buttonStart{
        font-family: 'Antonio', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 20px;
        max-width: 10vw;
        background-color: #FB8501;
    }
}

@media screen and (max-width: 1200px) {
    section.header{
        background-image: none;
        padding: 5vh 10vw 30vh 15vw;
        top: 0;
        right: 0;
        left: 0;
        position: relative;
    }
        
    .container{
        display: flex;
        flex-direction: column;
    }

    .a1{
        font-weight: 100;
        font-size: 35px;
        margin-top: 20px;
    }

    .text {
        font-size: 12px;
        max-width: 20vw;
    }

    .secondary{
        max-width: 100%;
    }

    .imagemCarro{
        max-width: 100%;
        max-height: 100%;
    }
}